<div class="container">

<br>
  <font size="4">current Designation</font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input [(ngModel)]="designation" placeholder="Developer,Designer.etc">
 <br><br><font size="4">Age</font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input [(ngModel)]="age" placeholder="Your Age">
  <br><br><br><p>you designation is &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{designation}}</p>
  <p>you Age is &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{age}}</p>

</div>