<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Dashboard</a>
    </div>
  </div>
</nav>


<div class="container">
<p>Hello <font size="5"> <strong>Hariprasad</strong>   </font> </p>
<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
<br>
<table>
  <tr>
<td><button class="btn" [routerLink]="['profile']">Profile</button></td>&nbsp;&nbsp;&nbsp;&nbsp;
<td><button class="btn" [routerLink]="['status']">Status</button></td>&nbsp;&nbsp;&nbsp;&nbsp;
<td><button class="btn" [routerLink]="['getdata']">Get</button></td>&nbsp;&nbsp;&nbsp;&nbsp;
<td><button class="btn" [routerLink]="['putdata']">Put</button></td>
</tr>
</table>
<router-outlet></router-outlet>
</div>